Notebook2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Notebook2.xcodeproj/project.xcworkspace/xcshareddata/Notebook2.xccheckout
Notebook2.xcodeproj/project.xcworkspace/xcuserdata/Pershin_Sergey.xcuserdatad/UserInterfaceState.xcuserstate
Notebook2.xcodeproj/xcuserdata/Pershin_Sergey.xcuserdatad/xcschemes/Notebook2.xcscheme
Notebook2.xcodeproj/xcuserdata/Pershin_Sergey.xcuserdatad/xcschemes/xcschememanagement.plist
